{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Cadastro Projeto{% endblock %}

{% block content %}
<div>
    <div class="container-fluid">
        <h2 class="textcenter">{{titulo}}</h2>
    </div>
    <br>
    <div class= "lead col-md-8 mx-auto">
        Preencha todos os campos obrigatórios.
    </div>

    <br>
    <div class="container-fluid">
        <div class="col-md-6 mx-auto">
              <form action="" method="post">
                {% csrf_token %}

                {{ form|crispy }}

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                   <button type="submit" class="btn btn-primary">{{botao}}</button>
                </div>


                  <hr>


              </form>
        </div>
    </div>
</div>
    </div>

{% endblock %}