{% extends "nav.html" %}

{% load static %}

{% block 'head2' %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock%}

{% block title %}Enviar Mensagem{% endblock %}

{% block content %}


    <div class="fundo col-md-2">
            
      <a href="{% url 'listar-mensagem' %}">
        <img class="iconmensagem" src="{% static 'img/mensagem.png' %}">
      </a>
      {% if user.groups.all.0.name == "GrupoEmpresa" %}
      <a href="{% url 'listar-projeto' %}">
      {% endif %}
      </a>
      {% if user.groups.all.0.name == "GrupoAluno" %}
      <a href="{% url 'listar-proalu' %}">
      {% endif %}
        <img class="iconprojeto" src="{% static 'img/projeto.png' %}">
      </a>
    </div>

    

    <div class="areaprojeto col-6 p-4 shadow rounded bg-white">
        <h2 class="textcenter">{{titulo}}</h2>
        
        <br>
        {% if user.groups.all.0.name == "GrupoAluno" %}
        <div class= "lead col-md-8 mx-auto">
            Sua mensagem será encaminhada à empresa.
        </div>
        {% endif %}
        {% if user.groups.all.0.name == "GrupoEmpresa" %}
        <div class= "lead col-md-8 mx-auto">
            Sua mensagem será encaminhada ao aluno.
        </div>
        {% endif %}
    
        <br>
        <div class="mx-auto">
                <form action="" method="post">
                  {% csrf_token %}

                  {{ form.as_p }}
                <hr>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary">{{botao}}</button>
                </div>
                </form>
        </div>
    </div>


{% endblock %}