body {
 min-height: 100vh;
 }


.container-fluid {
    position: relative;
    padding: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}
.layout-right {
  position: absolute;
  right: 0px;
  width: 1000px;
  padding: 10px;
}

.left {
  position: absolute;
  left: 0px;
  width: 300px;
  padding: 10px;
}

.footer {
color : #6c757d;
text-align : center;
padding: 30px;
}

.box-1{
display: flex;
flex-direction: row-reverse;
}

.box-2{
padding-top: 60px;
min-height: 87.3vh;
width: auto;
}

.top-title{
position: absolute;
width: 300px;
right: 500px;
top: 130px;
}
.form{
    top: 135px;
    position: relative;
}

.sobre{
position: absolute;
    top: 120px;
    width: 1000px;
}

.textcenter {
text-align : center;
}

h2{
padding-top: 60px;
}
