.container{
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}
.footer {
position: fixed ;
left : 0;
width : 100%;
color : white;
text-align : center;
bottom: 0;
padding-top: 10px;
}
.box-1{
display: flex;
flex-direction: row-reverse;
}
.box-2{
padding-top: 100px;
}
.top-title{
position: absolute;
width: 300px;
right: 500px;
top: 130px;
}
.form{
    top: 135px;
    position: relative;
}
.custom-bar{
    height: 80px;
}
.sobre{
position: absolute;
    top: 120px;
    width: 1000px;
}