body {
  min-height: 100vh;
}

.sidebar{
background-color: #4F4F4F;
min-height: 100vh;
}
.logo_sidebar{
text-align: center;
}
.img_logo_sidebar{
width: 100%;
}
.area_cadastrar{
margin-top: 5%;
margin-left: 5%;
width: 70%;
}
.titulo{
font-weight: bold;
}
.sub-titulo{
color: gray;
}
.input-form{
margin-top: 15px;
width: 100%;
padding: 5px;
outline: 0;
}
.input-form:focus{
border: 2px solid #4F4F4F !important;
outline: 0 !important;
box-shadow: none !important;
}
.bold{
font-weight: bold;
}

.btn-first{
border: none;
padding: 5px 15px 5px 15px;
font-size: 25px;
background-color: #4F4F4F;
color: white;
font-weight: bold;
}

.margembtn{
margin-top: 5%;
margin-bottom: 10%;
}

.alunogif{
  width: 100%;

}
.empresagif{

  width: 80%;
  margin-left: 5%;
}

.fundo{
  background-color: #4F4F4F;
  min-height: 100vh;
}

.textcenter {
  text-align : center;
}

h2{
  padding-top: 60px;
}

.formulario{
  margin-left: 10%;
  margin-top: 4%;
}


/* Message */
#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  #fade .spinner-border {
    width: 60px;
    height: 60px;
  }
  
  .hide {
    display: none !important;
  }
  
  #message {
    width: 40%;
  }
  
  .alert.alert-light p {
    border-bottom: 1px solid #333;
    padding: 1.2em 0;
  }
