{% extends 'nav.html' %}


{% load static %}

{% block title %}Pagina inicial{% endblock %}


{% block 'head2' %}
   
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    
    
{% endblock %}

{% block content %}
<div class="col-12 totalarea">
    <div class= "row margem">
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first" >
                    <img src="{% static '/img/img01.jpg'%}" alt="">
                </div>

                <div class="slide " >
                    <img src="{% static '/img/img2.jpg'%}" alt="">
                </div>

                <div class="slide " >
                    <img src="{% static '/img/img3.jpg'%}" alt="">
                </div>

                <div class="slide " >
                    <img src="{% static '/img/img4.jpg'%}" alt="">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
            </div>

            <div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                
            </div>
            
            
        </div>
    </div>

        <div class="row div-button" style="display:flex; justify-content:center ; margin-top: 3rem;">
            <a class="nav-link" 
            style="
            text-align: center;
            border: none; 
            background-color: #343a40; 
            color:bisque;  
            border-radius: 5px; 
            cursor: pointer; 
            color:#fff ; 
            width: 10px 20px;" 

            href="{% url 'pages:sobre' %}">Saiba Mais</a>
        </div>
    
</div>


<script src= "{% static '/js/slider.js' %}"></script>






{% endblock %}

{% block 'footer' %}

    <div class="footer footer-dark bg-dark fluid-down">
        <p>Unindo alunos e empresas para soluções reais</p>
    </div>

{% endblock %}