{% extends 'base.html' %}

{% block title %}Sobre SintProEdu{% endblock %}

{% block content %}

<div class="sobre">
<h2>Sobre</h2>
<div class="row">
<div class="col-md-2 mx-auto">
<h3>SintProEdu</h3>
<hr>
</div>
</div>
<div class="row">
<div class="col-md-10 mx-auto">
<p>SintProEdu foi criada com o objetivo facilitar a comunicação entre alunos e empresas na elaboração de
projetos acadêmicos a fim de resolver possíveis problemas que esta venha a ter.<br>
Durante nossa pesquisa percebemos a grande dificuldade em conseguir falar com as pessoas
responsáveis pelas empresas. <br>A Sintproedu é uma plataforma faz a ponte entre alunos e empresas.
Em nosso banco de dados estão armazenados os cadastros de empresas interessadas em resolver algum
problema tecnológico e de alunos dispostos a criar uma solução. Bem como a descrição desses projetos que
estão em andamento.</p>
<br><hr><br>
<p>Todo aluno em algum estágio de sua formação universitária precisa elaborar algum tipo de
projeto que vise colocar em prática as teorias estudadas em sala de aula,
porém nem sempre isso é uma tarefa fácil, principalmente no momento em que nosso
planeta vem passando. Devido ao distanciamento social, o contato com a comunidade externa
foi muito comprometida e o acesso dos estudantes aos ambientes das empresas ficou ainda mais
complicado. Pensando nessas dificuldades, a Sintproedu tornou menos complicado o acesso dos alunos às necessidades do mercado.
Contribuindo para a formação dos estudantes que poderão colocar em prática as teorias
estudadas,  quanto para as empresas que terão ajuda na resolução  de seus problemas. </p>
</div>
</div>
<br><br><br>
<div class="row">
<div class="col-md-10 mx-auto">
<h3>Cláusulas de exclusão de responsabilidade</h3>
<hr>
</div>
</div>
<div class="row">
<div class="col-md-10 mx-auto">
<p>A Sintproedu é uma projeto didático apresentado à Univesp (Universidade Virtual do Estado de São Paulo). Na disciplina de Projeto Integrador, com a finalidade de facilitar a integração dos estudantes  com empresas interessadas na parceria entre ambas. (aluno/empresas).<br>
<br>Por se tratar de um trabalho acadêmico sem fins comerciais, a Sintproedu, não se responsabiliza pelas informações fornecidas nessa plataforma pelo seus usuários, nem com os possíveis projetos realizados e a  veracidade das informações fornecidas pelas partes envolvidas.<br>
<br>Por se tratar de um projeto experimental, não garantimos que todas as funcionalidades do site funcionem corretamente, podendo haver algumas falhas, erros ou perdas de dados. <br>
<br>A Sintproedu não fará intermediações no contato entre empresa e alunos ou instituições, os contatos serão feitos diretamente entre as parte interessadas, sem nenhuma interferência ou suporte da nossa parte. Nos limitamos unicamente a disponibilizar a plataforma para interação entre as partes.<br>
<br>A Sintproedu não cobrará nenhum valor pela utilização da plataforma nem autoriza ninguém a receber ou efetuar pagamento em nome da mesma.<br>
<br>Todas as informações fornecidas pelos usuários e ou empresa é de responsabilidade das partes envolvidas. <br>
<br>O utilizador do site que aceitar fazer uso da plataforma aceita os termos deste contrato descritos nos parágrafos acima.<br>
</p>
</div>
</div>
</div>
{% endblock %}