/* Ajuste para o HTML e o Body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Remove barras de rolagem globais */
}

/* Permite rolagem apenas no elemento principal */
main {
  margin: 0;
  min-height: 100%;
  overflow-y: auto; /* Define rolagem no elemento <main> */
}

/* Rodapé */
footer {
  color: #6c757d;
  text-align: center;
  background-color: #343a40;
  margin-top: 20px;
  padding: 10px 0;
  position: relative;
  z-index: 10;
  width: 100%;
}

/* Barra de rolagem personalizada */
.custom-scrollbar {
  position: relative;
  height: 100vh;
  overflow-y: auto; /* Define rolagem apenas para a área necessária */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; /* Transparente para não interferir no layout */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent; /* Cor do polegar com opacidade baixa */
  border-radius: 3px; /* Bordas arredondadas */
  transition: background 0.3s ease; /* Suaviza a transição de opacidade */
}

/* Quando o mouse está sobre o contêiner, a barra de rolagem fica mais visível */
.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: transparent; /* Aumenta a opacidade ao passar o mouse sobre o contêiner */
}

/* Quando o mouse está diretamente sobre o polegar da barra */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(51, 51, 51, 1); /* Totalmente opaco ao passar o mouse */
}

label{
  font-weight: bold;
  color:#4F4F4F;
}

.input-form{
  margin-top: 15px;
  width: 100%;
  padding: 5px;
  outline: 0;
}

.input-form:focus{
  border: 2px solid #4F4F4F !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.tabela{
  padding-bottom: 5%;
}

.areaprojeto{
 margin-left: 23%;
 margin-top: 2%;
 margin-bottom: 2%;
}

.botaobar{
  position: absolute;
  right: 0px;
}

.margem{
  padding-top: 10%;
}

.margem5{
  padding-top: 5%;
}

.iconmensagem{
  width: 50%;
  margin-top: 50%;
  margin-left: 25%;
}
.iconprojeto{
  width: 50%;
  margin-top: 50%;
  margin-left: 25%;
}

.imgnavbar{
  position: absolute;
  left: 0px;
  top: 0%;
  width: 300px;

}


.container-fluid {
    position: relative;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%; /* Ajuste para o valor necessário */
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}
.layout-right {
  position: absolute;
  right: 0px;
  width: 1000px;
  padding: 10px;
}

.left {
  position: absolute;
  left: 0px;
  width: 300px;
  padding: 10px;
}

.div-button{
  margin-bottom: 6.1%;
}

.top-title{
position: absolute;
width: 300px;
right: 500px;
top: 130px;
}

.form{
    top: 135px;
    position: relative;
}

.sobre{
position: absolute;
    top: 120px;
    width: 1000px;
}

.textcenter {
text-align : center;
}

h2{
padding-top: 60px;
}

.fundo{
  position: fixed;
  background-color: #4F4F4F;
  min-height: 100vh;
}

.alunogif{
  width: 100%;

}
.empresagif{
  width: 100%;
}

.textlimit{
  max-width: 250ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


