{% extends "nav.html" %}

{% load static %}

{% block 'head2' %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock%}


{% block title %}{{ titulo }}{% endblock %}

{% block content %}


    <div class="fundo col-md-2">
            
      <a href="{% url 'listar-mensagem' %}">
        <img class="iconmensagem" src="{% static 'img/mensagem.png' %}">
      </a>
      {% if user.groups.all.0.name == "GrupoEmpresa" %}
      <a href="{% url 'listar-projeto' %}">
          {% endif %}
      {% if user.groups.all.0.name == "GrupoAluno" %}
      <a href="{% url 'listar-proalu' %}">
      {% endif %}
        <img class="iconprojeto" src="{% static 'img/projeto.png' %}">
      </a>
    </div>

    <div class="col-6 areaprojeto mx-auto p-4 shadow rounded bg-white">
    <!-- Exibição de mensagens -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <!-- Título do formulário -->
    <h2 class="text-center my-4">{{ titulo }} {{ projeto.titulo }}</h2>

    <!-- Descrição do formulário -->
    <div class="alert alert-info lead text-center">
        Preencha todos os campos.
    </div>

    <!-- Formulário -->
    <form class="p-4 shadow rounded bg-white" action="{% url 'editar-projeto' projeto.pk %}" method="POST">
        {% csrf_token %}

        <!-- Campos do formulário -->
        {{ form.as_p }}

        <!-- Botão de envio -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            <button type="submit" class="btn btn-outline-secondary px-4 py-2">{{ botao }}</button>
        </div>
    </form>
</div>



{% endblock %}