<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<body class="custom-scrollbar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {% block 'head' %}
    {% endblock %}
</head>

<nav>
    {% block 'nav' %}
    {% endblock %}
</nav>

<main>
    
    {% block 'main' %}
    {% endblock %}

</main>

    {% block 'footer' %}
    {% endblock %}


    {% block 'body2' %}
    {% endblock %}

</body>
</html>
