{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Mensagens{% endblock %}

{% block content %}

<div class="row ">
    {% if user.groups.all.0.name == "GrupoAluno" %}
    <div class="col-2 navbar-expand-md bg-secondary fixed-left">
           <ul class="nav flex-column">

                <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="{% url 'atualiza-aluno' %}">Editar Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'listar-mensagem' %}">Minhas Mensagens</a>
                </li>

           </ul>
    </div>
    {% endif %}
    {% if user.groups.all.0.name == "GrupoEmpresa" %}
    <div class="col-2 navbar-expand-md bg-secondary fixed-left">
    <ul class="nav flex-column">

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'atualiza-empresa' %}">Editar Cadastro</a>
  </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'listar-mensagem' %}">Minhas Mensagens</a>
        </li>
</ul>
    </div>
{% endif %}

      <div class="col-8">
          <h2 class="textcenter">Mensagens</h2>
          <p class = "lead">Minhas mensagens</p>
            <hr>

            <div class="table-responsive">
            <table>

                 {% for mensagens in object_list %}
                    <tr>
                        <th>Mensagem de</th>
                        <td>{{ mensagens.email_de }}</td>
                    </tr>
                    <tr>
                        <th>Mensagem para</th>
                        <td>{{ mensagens.email_para }}</td>
                    </tr>
                    <tr>
                        <th>Mensagem</th>
                        <td>{{ mensagens.mensagem }}</td>
                    </tr>
                    <tr>
                        <th>Data de envio</th>
                        <td>{{ mensagens.dataEnvio }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ mensagens.statusMensagem }}</td>
                    </tr>


                    {% if user.groups.all.0.name == "GrupoEmpresa" %}
                    <tr>

                    <th>Opções</th>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                            <a href="#" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
                        </td>
                    </tr>
                    {% endif %}

                    {% if user.groups.all.0.name == "GrupoAluno" %}
                    <tr>

                        <th>Opções</th>
                        <td>
                            <a href="#" class="btn btn-primary btn-sm" title="Mensagem">Enviar mensagem</a>
                        </td>
                    </tr>
                    {% endif %}




                    {% empty %}
                     <tr>
                    <td colspan="4">Nenhuma Mensagem.</td>
                    </tr>
                 {% endfor %}

                </table>
                </div>
      </div>
  </div>
{% endblock %}